//
// NEO-TIME-PICKER - TIME PICKER DESIGN
//

// Color variables
$text-color: #354052;
$accent-color: #e6f8ff;
$border-color: #e6e6e6;
$selected-color: #eeeeee;
$background-color: #ffffff;
$second-text-color: #cccccc;
$list-background-color: #bbbbbb;

// TimePicker design
.neotimepicker-picker {
   display: grid;
   width: 170px;
   position: absolute;
   border-radius: 5px;
   background: $background-color;
   margin: 0 !important;
	outline: 0 !important;
	box-sizing: border-box;
   border: 1px solid $border-color;
   grid-template-rows: repeat(2, max-content);

// Input wrapper
&__input-wrapper {
   width: 100%;
   height: 31px;
   border-bottom: 1px solid $border-color; }

// Input field
&__input {
   width: 100%;
   height: 100%;
   border: none;
   min-width: 0px;
   color: $text-color;
   font-size: 15px;
   padding: 0px 10px;
	border-radius: 5px;
   margin: 0 !important;
   outline: 0 !important;
   font-variant: tabular-nums;
   font-feature-settings: "tnum";
&::-webkit-input-placeholder {
   color: $second-text-color; } }

// Body
&__body {
	display: grid;
	grid-gap: 1px;
	border-radius: 5px;
	background: $border-color;
	grid-template-columns: repeat(3, 1fr); }

// Body panel containing a list of items
&__body-panel {
	height: 180px;
	max-height: 180px;
	overflow: hidden;
	background: $background-color;
&:hover {
	overflow-y: auto; }
&:first-child {
	border-bottom-left-radius: 5px; }
&:last-child {
	border-bottom-right-radius: 5px; }
ul {
   display: grid;
	align-items: center;
	justify-items: center;
	padding-bottom: 150px;
li {
	width: 100%;
	height: 30px;
	font-size: 14px;
	padding: 5px 0 5px 10px;
	background: $background-color;
&:hover {
	cursor: pointer;
	color: $text-color;
	background: $accent-color; }
&.neotimepicker--selected {
	font-weight: 600;
	background: $selected-color; } } } } }
